# Default ignored files
.idea/
/target/allure-results/a7072b49-098f-4e1b-9fca-6a4215342a78-testsuite.xml
/target/classes/listeners/AllureListener.class
/target/classes/models/ClientModel.class
/target/classes/models/CustomerModel.class
/target/classes/restapi/APIRequestExecutor.class
/target/classes/restapi/RequestConfigurator.class
/target/classes/restapi/RequestHeaderConfigurator.class
/target/classes/restapi/TestData.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/resources/ApplicationConfig.properties
/target/test-classes/restapi/ApiBookOrder.class
/target/test-classes/restapi/ApiClientRegister.class
/target/test-classes/restapi/BaseTest.class
/target/test-classes/restapi/SuccessfullStatusCode.class
/target/allure-results/39b70820-1743-49b7-95c0-158ca2505e3e-testsuite.xml
/target/allure-results/aabd7daa-6090-461d-8f1a-c0c46c9473fc-testsuite.xml
/target/allure-results/e7448acd-3a84-455d-a710-b8ffc682b778-testsuite.xml
