# Default ignored files
.idea/
.target/
/target/allure-results/a7072b49-098f-4e1b-9fca-6a4215342a78-testsuite.xml
/target/classes/listeners/AllureListener.class
/target/classes/models/ClientModel.class
/target/classes/models/CustomerModel.class
/target/classes/restapi/APIRequestExecutor.class
/target/classes/restapi/RequestConfigurator.class
/target/classes/restapi/RequestHeaderConfigurator.class
/target/classes/restapi/TestData.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/resources/ApplicationConfig.properties
/target/test-classes/restapi/ApiBookOrder.class
/target/test-classes/restapi/ApiClientRegister.class
/target/test-classes/restapi/BaseTest.class
/target/test-classes/restapi/SuccessfullStatusCode.class
/target/allure-results/39b70820-1743-49b7-95c0-158ca2505e3e-testsuite.xml
/target/allure-results/aabd7daa-6090-461d-8f1a-c0c46c9473fc-testsuite.xml
/target/allure-results/e7448acd-3a84-455d-a710-b8ffc682b778-testsuite.xml
/target/allure-results/2d1d3a53-d463-4d0b-b056-6af941ece90a-testsuite.xml
/target/surefire-reports/Glady AutF_AllureParallel/TestResponseElements.html
/target/surefire-reports/Glady AutF_AllureParallel/TestResponseElements.xml
/target/surefire-reports/junitreports/TEST-restapi.ApiBookOrder.xml
/target/surefire-reports/junitreports/TEST-restapi.ApiClientRegister.xml
/target/surefire-reports/junitreports/TEST-restapi.SuccessfullStatusCode.xml
/target/surefire-reports/old/Glady AutF_AllureParallel/classes.html
/target/surefire-reports/old/Glady AutF_AllureParallel/groups.html
/target/surefire-reports/old/Glady AutF_AllureParallel/index.html
/target/surefire-reports/old/Glady AutF_AllureParallel/main.html
/target/surefire-reports/old/Glady AutF_AllureParallel/methods.html
/target/surefire-reports/old/Glady AutF_AllureParallel/methods-alphabetical.html
/target/surefire-reports/old/Glady AutF_AllureParallel/methods-not-run.html
/target/surefire-reports/old/Glady AutF_AllureParallel/reporter-output.html
/target/surefire-reports/old/Glady AutF_AllureParallel/testng.xml.html
/target/surefire-reports/old/Glady AutF_AllureParallel/TestResponseElements.properties
/target/surefire-reports/old/Glady AutF_AllureParallel/toc.html
/target/surefire-reports/old/index.html
/target/surefire-reports/bullet_point.png
/target/surefire-reports/collapseall.gif
/target/surefire-reports/emailable-report.html
/target/surefire-reports/failed.png
/target/surefire-reports/index.html
/target/surefire-reports/jquery-1.7.1.min.js
/target/surefire-reports/navigator-bullet.png
/target/surefire-reports/passed.png
/target/surefire-reports/skipped.png
/target/surefire-reports/TEST-TestSuite.xml
/target/surefire-reports/testng.css
/target/surefire-reports/testng-reports.css
/target/surefire-reports/testng-reports.js
/target/surefire-reports/testng-results.xml
/target/surefire-reports/TestSuite.txt
