<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Glady AutF_AllureParallel" thread-count="1" 
       data-provider-thread-count="1">
    <listeners>
        <listener class-name="listeners.AllureListener"></listener>
    </listeners>
    <test name="TestResponseElements">

        <classes>
            <class name="restapi.SuccessfullStatusCode"/>
            <class name="restapi.ApiClientRegister"/>
            <class name="restapi.ApiBookOrder"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->
